#About {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80vw;
	margin: 0 auto;
}
#AboutHead {
	grid-column: span 2;
	/* margin-top: 5%; */
}
#AboutImage {
	width: 25vw;
	height: 30vw;
	object-fit: contain;
	margin: auto;
}
#AboutText {
	font-size: 2vw;
	overflow-wrap: break-word;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
