#Projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5%;
	position: relative;
}
.button-container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 0;
}
.slideshow {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
	border: none;
	background: transparent;
}
#prevButton {
	position: absolute;
	left: -50px;
}

#nextButton {
	position: absolute;
	right: -50px;
}
#prevButton svg,
#nextButton svg {
	color: var(--steel-blue);
}
.slide {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 10px;
	width: 80vw;
	height: 60vh;
}

.image-container {
	grid-column: 1;
	grid-row: 1 / span 2;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.languages {
	grid-column: 1;
	grid-row: 2;
	align-self: end;
	color: var(--platinum);
	font-size: 7vh;
}

.text p {
	grid-column: 2;
	grid-row: 1 / span 2;
	font-size: 1em;
}

/* slideshow transition */
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 500ms;
}
